*{
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
}
.mine-container {
  background: linear-gradient(180deg, #000F36 43.83%, #214FC4 100%);
  background-size: cover;
  background-position: center;
  text-align: center;
  height: 100vh; /* Full viewport height */
  color: white;
  font-family: 'Times New Roman', Times, serif;
  justify-content: space-around;
}
.l {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  color: #fff;
}

.no {
  font-size: 18px;
  color: #fff;
  font-family: 'Times New Roman', Times, serif;
}

.button {
  
  padding: 15px 30px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  margin-left: 3px;
  margin-right: 3px;
  cursor: pointer;
  border-radius: 40px;
  gap: 1rem;
}



.button:disabled {
  background-color: #7ea9ff;
  cursor: not-allowed;
}

.button:hover:not(:disabled) {
  background-color: #0056b3;
}

.timer {
  margin-top: 4rem;
  font-size: 13px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  
}

.sec {
  font-size: 50px;
  color: #fff;
}


